.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.highlight-container {
  line-height: 42px !important;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  white-space: pre;
  cursor: default;
}

/* Bottom Label Layout */

.highlight-container.highlight-container--bottom-labels {
  padding: 10px 1.125em;
  align-items: flex-start;
}

/* Diagram Layout */

.highlight-container.highlight-container--diagram {
  align-items: flex-start;
}

.highlight-container.highlight-container--diagram.passage.model__content__summary {
  background: transparent;
  align-items: stretch;
  padding: 0;
}
